.container {
 width: 1200px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body{
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    
   
    
}
img {
 display: block;
 max-width: 100%;
  height: auto;
}
ul li {
list-style: none;
}